<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite" parallel="tests">
  <test name="Test">
      <classes>
          <parameter name="browser" value="firefox">
          <class name="com.testing.Cliniops.Cliniops_AutomationScriptsTest">
      </classes>
  </test> <!-- Test -->
  <test name="ChromeTest">
      <classes>
          <parameter name="browser" value="chrome">
          <class name="com.testing.Cliniops.Cliniops_AutomationScriptsTest">
      </classes>
  </test> 
  <test name="IETest">
      <classes>
          <parameter name="browser" value="IE">
          <class name="com.testing.Cliniops.Cliniops_AutomationScriptsTest">
      </classes>
  </test>
</suite> <!-- Suite -->
